# ── Aplicación ──────────────────────────────────────────────────────────────
PORT=3001
FRONTEND_URL=http://localhost:4200
# ── Base de datos ────────────────────────────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_ROOT_PASS=root
DB_USER=root
DB_PASS=root
DB_NAME=soportesysapolo

#host remoto
# DB_HOST=localhost
# DB_PORT=3306
# DB_ROOT_PASS=sysLtda900
# DB_USER=software_soporte_admin
# DB_PASS=sysLtda900
# DB_NAME=software_soporte
# ── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=sysapolo_secret_2024

# ── Correo (SMTP) ────────────────────────────────────────────────────────────
MAIL_HOST=smtp.example.com
MAIL_PORT=465
MAIL_USER=notificaciones@example.com
MAIL_PASS=changeme
MAIL_PORTAL_URL=https://soporte.softwareysoluciones.net